/* body{
  transition: 0.5s;
} */

.App {
  margin-top: 25px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.change-theme{
  border-radius:25px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #3892c2;
}

.change-theme:hover{
  transition: 0.2s;
  color:  #3892c2;
  background-color: black;
}

.dark-theme-button{
  border-radius:25px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  background-color: red;
}

.dark-theme-button:hover{
  transition: 0.2s;
  color:  red;
  background-color: white;
}


.articles{
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
 
}

.dark-theme-body{
  background-color: black;
}



